/* columnistas */

.logo{
    float: left;
    padding-top: 50px;
}
.caja{
    border: 1px solid black;
    border-bottom: 5px solid red;
    margin-top: 30px;
}
.cajita{
    text-align: center;
    background-color: red;
    color: white;
    width: 70px;
    margin:  0 auto;
    font-size: 12px;
}
header h1{
    font-size: 15px;
    text-align: center;
}
.editorial{
    padding-top: 30px;
}

/* columnistas */
.hero h1{
    text-align: center;
    font-size: 25px;
    width: 200px;
    background-color: red;
    color: white;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 7px;
    position: relative;
    top: -15px;
}
hr{
    position: relative;
    top: 22px;
    background-color:  red;
    padding: 3px
}
.hero img{
    background-size: cover;
    border: 6px solid white;
}
.cajas{
    background-color: #c3c3c3;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
}
.hero p{
    font-size: 13px;
    padding-top: 4px;
}
.hero h4{
    font-size: 11px;
}
/* Noticias destacadas mercado */

.noticias-destacadas{
    margin-top: 20px;
}
.noticias-destacadas .imagen{
    background-image: url(../image/img_especiales.jpg);
    height: 180px;
    background-size: cover;
    
}
.noticias-destacadas .caja1{
    margin-left: -12px;
    border: 2px solid rgba(206, 202, 202, 0.69);
    padding-bottom: 16px;
    margin-bottom: 25px;
    margin-right: 10px;
}
.noticias-destacadas .cajainterna{
    color: white;
    position: relative;
    top: 120px;
    font-size: 15px;
    left: 15px;
}
.noticias-destacadas .degradado{
    background:rgba(33, 32, 32, 0.52);
    background: -moz-linear-gradient(bottom,rgba(25, 23, 23, 0.62), rgba(33, 32, 32, 0.52),);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(33, 32, 32, 0.05)), to(rgb(25, 23, 23)));
    height: 180px;
}
.noticias-destacadas .banner{
    background-image: url(../image/banner-aside-home.jpg);
    background-size: cover;
    padding-bottom: 600px;
    margin-left: -18px
}
.noticias-destacadas h2{
    font-size: 22px;
    color: red;
    padding-bottom: 3px;
    margin-top: 14px;
}
.noticias-destacadas p{
    position: relative;
    top: 14px;
    font-size: 15px;
    box-sizing: border-box;
}